@charset "UTF-8";
/*FOOTER*/
#footer {
  width: 100%;
  height: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

/*FOOTER REDES*/
.footer_redes img {
  width: 50px;
  height: 50px;
  margin-right: 20px;
}

.footer_redes {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 350px;
}

/*FOOTER LINKS*/
.footer_links ul {
  list-style-type: none;
}

.footer_links ul li a {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-left: 350px;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

#footer a:hover {
  color: gray;
}

/*FOOTER*/
/*===========================================================================*/
/*MEDIA FOOTER*/
/*===========================================================================*/
@media (max-width: 1200px) {
  .footer_redes img {
    height: 50px;
    width: 50px;
  }
  .footer_redes {
    padding-left: 150px;
  }
  .footer_links ul li a {
    padding-left: 150px;
  }
  .dsds {
    height: 70px;
    width: 70px;
  }
}
@media (max-width: 810px) {
  .dsds {
    height: 40px;
    width: 40px;
    margin-left: 100px;
  }
  .footer_redes {
    margin-right: 100px;
  }
}
@media (max-width: 785px) {
  #footer {
    flex-direction: column;
  }
  .footer_links ul li a {
    padding-left: 0;
  }
  .footer_redes {
    padding-left: 150px;
  }
  .dsds {
    padding-right: 180px;
  }
}
@media (max-width: 590px) {
  #footer {
    width: 100vh;
  }
}
/*HEADER Y NAV*/
header {
  height: 70px;
  width: 100%;
  text-align: center;
  background-color: black;
  position: sticky;
  z-index: 100;
  display: flex;
  align-items: center;
}
header nav ul {
  display: inline;
  margin-top: 13px;
}
header nav ul li {
  display: inline;
  font-size: 18px;
  margin-left: 10px;
}
header nav ul li a {
  font-size: 16px;
  margin-left: 10px;
  text-decoration: none;
  color: white;
  font-weight: bold;
}
header img {
  width: 4%;
  border-radius: 100%;
}
header #nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header #nav a:hover {
  color: gray;
}

.logo {
  width: 40px;
}

.d-flex {
  width: 100vh;
  margin-left: 30px;
}

/*HEADER Y NAV*/
/*===========================================================================*/
/*MEDIA NAV*/
/*===========================================================================*/
@media (max-width: 950px) {
  header {
    display: block;
    text-align: center;
    margin-top: 0;
    height: 150px;
  }
  #nav {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 785px) {
  .d-flex {
    width: 500px;
  }
}
@media (max-width: 690px) {
  header nav ul li a {
    font-size: 12px;
  }
  header {
    width: 100%;
  }
  .banner {
    width: 100%;
  }
}
@media (max-width: 590px) {
  header nav ul li a {
    font-size: 10px;
  }
  .d-flex {
    width: 300px;
  }
  header {
    width: 100vh;
  }
  .banner {
    width: 100vh;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*border: 1px solid black;*/
}

/*BODY*/
body {
  background-color: rgb(108, 156, 148);
}

/*BODY*/
/*
.= llamado de una clase
#= llamado de un ID
*/
/*SPV= SELECTOR - PROPIEDAD - VALOR*/
/*LOS SELECTORES SON TODAS NUESTRAS ETIQUETAS HTML*/
/*PARTIMOS DE UN ORDEN JERARQUICO PARA LLEGAR A LA IMAGEN = SELECTORES*/
/*DENTRO APLICAMOS PROPIEDADES Y A ESAS PROPIEDADES SUS RESPECTIVOS VALORES*/
.banner img {
  /*TIPOS DE MEDIDAS: 
  %= SE ADAPTA A LA PANTALLA Y 
  PX= TAMAÑO FIJO
  VH= TAMAÑO
  VW=*/
  width: 100%; /*WIDTH: ANCHO--px o %*/
  height: 100vh; /*ALTURA-- px o %*/
}

#main {
  min-width: 100%;
}

.banner p {
  font-size: 50px;
  background-color: rgb(108, 156, 148);
  position: absolute;
  top: 50%;
  left: 30%;
  font-family: "Kanit", sans-serif;
}

.textbanner {
  color: rgb(37, 27, 27);
}

/*TIPO DE LETRA*/
.destacados_titulo {
  font-family: "Irish Grover";
  color: #ffffff;
  background-color: black;
  font-size: 24px;
  padding: 10px;
  font-weight: bold;
  text-align: center;
}

/*MAIN PRODUCTOS DESTACADOS*/
/*GRID PROD DESTACADOS*/
#DestacadosProds {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 350px 350px;
  gap: 15px;
  padding: 5px;
  /*row-gap: ;
  column-gap: ;*/
  grid-template-areas: "prodestacadosGrid1 prodestacadosGrid2 prodestacadosGrid3" "prodestacadosGrid1 prodestacadosGrid4 prodestacadosGrid5";
}

.prodestacadosGrid1 {
  background-image: url(../images/remgears.PNG);
  background-size: cover;
  background-position: center;
}

.prodestacadosGrid2 {
  background-image: url(../images/rempirates.PNG);
  background-size: cover;
  background-position: center;
}

.prodestacadosGrid3 {
  background-image: url(../images/remtiger.PNG);
  background-size: cover;
  background-position: center;
}

.prodestacadosGrid4 {
  background-image: url(../images/pantverde.PNG);
  background-size: cover;
  background-position: center;
}

.prodestacadosGrid5 {
  background-image: url(../images/pantnegro.PNG);
  background-size: cover;
  background-position: center;
}

.prodestacadosGrid1 {
  grid-area: prodestacadosGrid1;
}

.title_destacado {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Anton", sans-serif;
  background-color: white;
}

/*PAGINA PRODUCTOS*/
.Tituloprincipal {
  font-family: "Irish Grover";
  background-color: white;
  text-align: center;
}

/*GRID 1*/
#prod_img {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 350px 350px;
  gap: 15px;
  padding: 5px;
  /*row-gap: ;
  column-gap: ;*/
  grid-template-areas: "prodGridr1 prodGridr2 prodGridp1" "prodGridr3 prodGridr4 prodGridp1";
}

.prodGridr1 {
  grid-area: prodGridr1;
}

.prodGridr2 {
  grid-area: prodGridr2;
}

.prodGridp1 {
  grid-area: prodGridp1;
}

.prodGridr3 {
  grid-area: prodGridr3;
}

.prodGridr4 {
  grid-area: prodGridr4;
}

.prodGridr1 {
  background-image: url(../images/rem1.PNG);
  background-size: cover;
  background-position: center;
}

.prodGridr2 {
  background-image: url(../images/rem2.PNG);
  background-size: cover;
  background-position: center;
}

.prodGridp1 {
  background-image: url(../images/pant1.PNG);
  background-size: cover;
  background-position: center;
}

.prodGridr3 {
  background-image: url(../images/rem3.PNG);
  background-size: cover;
  background-position: center;
}

.prodGridr4 {
  background-image: url(../images/rem4.PNG);
  background-size: cover;
  background-position: center;
}

.title1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Anton", sans-serif;
  background-color: white;
}

/*GRID 1*/
/*GRID 2*/
#prod_img2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 350px 350px;
  gap: 15px;
  padding: 5px;
  grid-template-areas: "prodGridp2 prodGridber1 prodGridber2" "prodGridp2 prodGridz1 prodGridz2";
}

.prodGridp2 {
  grid-area: prodGridp2;
}

.prodGridber1 {
  grid-area: prodGridber1;
}

.prodGridber2 {
  grid-area: prodGridber2;
}

.prodGridz1 {
  grid-area: prodGridz1;
}

.prodGridz2 {
  grid-area: prodGridz2;
}

.prodGridp2 {
  background-image: url(../images/pant2.PNG);
  background-size: cover;
  background-position: center;
}

.prodGridber1 {
  background-image: url(../images/berm1.PNG);
  background-size: cover;
  background-position: center;
}

.prodGridber2 {
  background-image: url(../images/berm2.PNG);
  background-size: cover;
  background-position: center;
}

.prodGridz1 {
  background-image: url(../images/zap1.PNG);
  background-size: cover;
  background-position: center;
}

.prodGridz2 {
  background-image: url(../images/zap2.PNG);
  background-size: cover;
  background-position: center;
}

.title2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Anton", sans-serif;
  background-color: white;
}

/*GRID 2*/
/*GRID 3*/
#prod_img3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 350px 350px;
  gap: 15px;
  padding: 5px;
  grid-template-areas: "prodGridbz1 prodGridpiluso prodGridcamisa" "prodGridbz2 prodGridremleb prodGridmuscl";
}

.prodGridbz1 {
  grid-area: prodGridbz1;
}

.prodGridbz2 {
  grid-area: prodGridbz2;
}

.prodGridpil {
  grid-area: prodGridpiluso;
}

.prodGridrleb {
  grid-area: prodGridremleb;
}

.prodGridcam {
  grid-area: prodGridcamisa;
}

.prodGridmuscl {
  grid-area: prodGridmuscl;
}

.prodGridbz1 {
  background-image: url(../images/buzo1.PNG);
  background-size: cover;
  background-position: center;
}

.prodGridbz2 {
  background-image: url(../images/buzo2.PNG);
  background-size: cover;
  background-position: center;
}

.prodGridpil {
  background-image: url(../images/pilusso.PNG);
  background-size: cover;
  background-position: center;
}

.prodGridrleb {
  background-image: url(../images/remeraleb.PNG);
  background-size: cover;
  background-position: center;
}

.prodGridcam {
  background-image: url(../images/camisa.PNG);
  background-size: cover;
  background-position: center;
}

.prodGridmuscl {
  background-image: url(../images/muscl.PNG);
  background-size: cover;
  background-position: center;
}

.title3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Anton", sans-serif;
  background-color: white;
}

/*GRID 3*/
/*PAGINA PRODUCTOS*/
/*===========================================================================*/
/*MEDIA PAG PRODUCTOS GRID 1*/
/*===========================================================================*/
@media (max-width: 768px) {
  #prod_img {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 400px);
    grid-template-areas: "prodGridp1 prodGridr2" "prodGridp1 prodGridr4" "prodGridr1 prodGridr3";
  }
}
@media (max-width: 580px) {
  #prod_img {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 400px);
    grid-template-areas: "prodGridp1" "prodGridp1" "prodGridr1" "prodGridr2" "prodGridr3" "prodGridr4";
    width: 100vh;
  }
}
/*===========================================================================*/
/*MEDIA PAG PRODUCTOS GRID 2*/
/*===========================================================================*/
@media (max-width: 768px) {
  #prod_img2 {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 400px);
    grid-template-areas: "prodGridp2 prodGridber1" "prodGridp2 prodGridber2" "prodGridz1 prodGridz2";
  }
}
@media (max-width: 580px) {
  #prod_img2 {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 400px);
    grid-template-areas: "prodGridp2" "prodGridp2" "prodGridber1" "prodGridber2" "prodGridz1" "prodGridz2";
    width: 100vh;
  }
  .Tituloprincipal {
    width: 100vh;
  }
}
/*===========================================================================*/
/*MEDIA PAG PRODUCTOS GRID 3*/
/*===========================================================================*/
@media (max-width: 768px) {
  #prod_img3 {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 400px);
    grid-template-areas: "prodGridbz1 prodGridbz2" "prodGridcamisa prodGridremleb" "prodGridmuscl prodGridpiluso";
  }
}
@media (max-width: 590px) {
  #prod_img {
    width: 100vh;
  }
  #prod_img2 {
    width: 100vh;
  }
  #prod_img3 {
    width: 100vh;
  }
  .Tituloprincipal {
    width: 100vh;
  }
}
@media (max-width: 580px) {
  #prod_img3 {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 400px);
    grid-template-areas: "prodGridbz1" "prodGridbz2" "prodGridremleb" "prodGridcamisa" "prodGridpiluso" "prodGridmuscl";
    width: 100vh;
  }
}
/*PAGINA NOSOTROS*/
.title_nosotros {
  font-family: "Irish Grover";
  background-color: white;
  text-align: center;
}

.parte1nosotros {
  height: 330px;
  display: flex;
  text-align: center;
}

.localft {
  height: 300px;
  width: 500px;
}

.parte2nosotros {
  height: 330px;
  display: flex;
  text-align: center;
}

.fto_nosotros {
  height: 300px;
  width: 500px;
}

.title_orginp1 {
  font-family: "Anton", sans-serif;
}

.title_actp2 {
  font-family: "Anton", sans-serif;
}

.parrafo_origen {
  text-align: center;
}

.parrafo_origen {
  color: rgb(66, 82, 221);
  font-family: "Dhurjati", sans-serif;
  font-size: 20px;
}

.parrafo_actualidad {
  color: rgb(66, 82, 221);
  font-family: "Dhurjati", sans-serif;
  font-size: 20px;
}

/*===========================================================================*/
/*MEDIA NOSOTROS*/
/*===========================================================================*/
@media (max-width: 1150px) {
  .parrafo_actualidad, .parrafo_origen {
    font-size: 18px;
  }
}
@media (max-width: 1025px) {
  .parrafo_actualidad, .parrafo_origen {
    font-size: 16px;
  }
}
@media (max-width: 1000px) {
  .parte1nosotros, .parte2nosotros {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .parte1nosotros {
    height: 550px;
  }
  .parte2nosotros {
    height: 550px;
  }
  .parrafo_actualidad, .parrafo_origen {
    font-size: 18px;
  }
}
@media (max-width: 650px) {
  .parrafo_actualidad, .parrafo_origen {
    font-size: 16px;
  }
}
@media (max-width: 590px) {
  .title_nosotros {
    width: 100vh;
  }
  .parte1nosotros, .parte2nosotros {
    width: 100vh;
  }
}
/*PAGINA CONTACTO*/
.titulo_contacto {
  font-family: "Irish Grover";
  background-color: white;
  text-align: center;
}

.parte1, .parte2 {
  width: 50%;
  box-sizing: border-box;
  height: 100vh;
}

.parte1 {
  float: left;
}

.parte2 {
  float: right;
}

/*PARTE 1*/
.iconocorreo {
  width: 40px;
  height: 40px;
}

.tex_emailcontacto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.titulo_email {
  font-family: "Nova Square", sans-serif;
  color: white;
}

.correo_ow {
  color: black;
  font-size: 20px;
}

.nombre_form {
  width: 300px;
}

#inputnombre {
  width: 550px;
}

#inputemail {
  width: 550px;
}

.mensajes {
  padding: 20px;
}

.telefonolabel {
  display: flex;
  width: 150px;
  margin-right: 10px;
}

#telefono {
  width: 550px;
}

.mensajelabel {
  display: flex;
}

.BottonEnv {
  padding: 10px;
  margin-left: 200px;
}

.enviar-btn {
  margin-left: 210px;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.enviar-btn:hover {
  color: gray;
}

#mensaje {
  width: 550px;
  height: 200px;
}

/*PARTE 1*/
/*PARTE 2*/
.iconomap {
  width: 40px;
  height: 40px;
}

.text_dircontacto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.googlemaps {
  text-align: center;
  width: 100%;
}

.googlemaps iframe {
  width: 600px;
  height: 400px;
}

.titulo_direccion {
  font-family: "Nova Square", sans-serif;
  color: white;
}

.direccionav {
  color: black;
  font-size: 20px;
}

/*PARTE 2*/
/*PAGINA CONTACTO*/
/*===========================================================================*/
/*MEDIA CONTACTO*/
/*===========================================================================*/
/*PAGINA GUIA DE TALLES*/
#guia_tallesgrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 500px 500px;
  gap: 15px;
  padding: 5px;
  grid-template-areas: "talleh   tallemuj" "tallebuzo tallezapa";
}

.talleh {
  background-image: url(../images/talleh.PNG);
  background-size: cover;
  background-position: center;
}

.tallemuj {
  background-image: url(../images/tallemuj.PNG);
  background-size: cover;
  background-position: center;
}

.tallebuzo {
  background-image: url(../images/buzo.PNG);
  background-size: cover;
  background-position: center;
}

.tallezapa {
  background-image: url(../images/vansguia.PNG);
  background-size: cover;
  background-position: center;
  height: 500px;
  width: 100vh;
}

.tituloprincial_guia_talles {
  font-family: "Irish Grover";
  background-color: white;
  text-align: center;
}

.tallezapa {
  width: 700px;
  height: 500px;
}

/*PAGINA GUIA DE TALLES*/
@media (max-width: 1200px) {
  #guia_tallesgrid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 350px 350px;
    grid-template-areas: "talleh   tallemuj" "tallebuzo tallezapa";
  }
  .tallezapa {
    width: 600px;
    height: 350px;
  }
}
@media (max-width: 1000px) {
  #guia_tallesgrid {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 550px);
    grid-template-areas: "talleh" "tallemuj" "tallebuzo" "tallezapa";
  }
  .tallezapa {
    width: 100%;
    height: 550px;
  }
}
@media (max-width: 800px) {
  #guia_tallesgrid {
    width: 100%;
  }
  .tituloprincial_guia_talles {
    width: 100%;
  }
}
@media (max-width: 590px) {
  #guia_tallesgrid {
    width: 100vh;
  }
  .tituloprincial_guia_talles {
    width: 100vh;
  }
}
/*===========================================================================*/
/*MEDIA PRODUCTOS DESTACADOS-INICIO*/
/*===========================================================================*/
@media (max-width: 768px) {
  #DestacadosProds {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 400px);
    grid-template-areas: "prodestacadosGrid1 prodestacadosGrid2" "prodestacadosGrid1 prodestacadosGrid4" "prodestacadosGrid3 prodestacadosGrid5";
  }
}
@media (max-width: 590px) {
  #DestacadosProds {
    width: 100vh;
  }
  .destacados_titulo {
    width: 100vh;
  }
}
@media (max-width: 480px) {
  #DestacadosProds {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 400px);
    background-size: cover;
    background-position: center;
    grid-template-areas: "prodestacadosGrid1" "prodestacadosGrid1" "prodestacadosGrid2" "prodestacadosGrid3" "prodestacadosGrid4" "prodestacadosGrid5";
  }
}
/*===========================================================================*/
/*MEDIA MAIN*/
/*===========================================================================*/
@media (max-width: 1000px) {
  .banner p {
    font-size: 40px;
  }
}
@media (max-width: 768px) {
  .banner p {
    font-size: 30px;
  }
}
@media (max-width: 768px) {
  .banner img {
    height: 60vh;
  }
}
@media (max-width: 480px) {
  .banner p {
    font-size: 20px;
    left: 39%;
  }
}
/*===========================================================================*/
/*MEDIA CONTACTO*/
/*===========================================================================*/
@media (max-width: 1200px) {
  .parte1, .parte2, .nombre_form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .text_dircontacto {
    margin-right: 40px;
  }
  .enviar-btn {
    margin-right: 230px;
  }
}
@media (max-width: 630px) {
  .googlemaps iframe {
    width: 500px;
    height: 300px;
  }
}
@media (max-width: 590px) {
  .titulo_contacto {
    width: 100vh;
  }
  .parte1, .parte2 {
    width: 100vh;
    float: none;
  }
}

/*# sourceMappingURL=style.css.map */
