/*HEADER Y NAV*/
header {
    height: 70px;
    width: 100%;
    text-align: center;
    background-color: black;
    position: sticky;
    z-index: 100;
    display: flex;
    align-items: center;
    nav {
        ul {
            display: inline;
            margin-top: 13px;
                li {
                display: inline;
                font-size: 18px;
                margin-left: 10px;
                    a {
                    font-size: 16px;
                    margin-left: 10px;
                    text-decoration: none;
                    color: white;
                    font-weight: bold;
                }
            }
        }
    }
    img {
        width: 4%;
        border-radius: 100%;
    }
    #nav {
        display: flex;
        justify-content: space-around;
        align-items: center;
        a:hover {
            color: gray;
        }
    }
}
.logo{
    width: 40px;
}
.d-flex{
    width: 100vh;
    margin-left: 30px;
}
/*HEADER Y NAV*/


/*===========================================================================*/
/*MEDIA NAV*/
/*===========================================================================*/
@media(max-width: 950px){
    header{
        display: block;
        text-align: center;
        margin-top: 0;
        height: 150px;
    }
    #nav{
        display: flex;
        flex-direction: column;
    }
}
@media(max-width: 785px){
    .d-flex{
        width: 500px;
    }
}
@media(max-width: 690px){
    header nav ul li a{
        font-size: 12px;
    }
    header{
        width: 100%;
    }
    .banner{
        width: 100%;
    }
}
@media(max-width: 590px){
    header nav ul li a{
        font-size: 10px;
    }
    .d-flex{
        width: 300px;
    }
    header{
        width: 100vh;
    }
    .banner{
        width: 100vh;
    }
}

