.banner {
    position: relative;
    img{
        width: 100%;
        max-height: 100vh;
    }
    p {
        position: absolute;
        top: 50%;
        left: 30%;
        transform: translate(0%, -85%);
        color: rgb(37, 27, 27);
        font-size: 50px;
        background-color: rgb(108, 156, 148);
        font-family: 'Kanit', sans-serif;
    }
}
$colorBlanco: white;
$colorSombra: rgba(0, 0, 0, 0.616);
$center_todo: center;

#info_inicio {
    width: 100%;
    height: 100vh;
    margin-bottom: 50px;
    display: flex;
    justify-content: $center_todo;
    flex-direction: column;
    .estilo:hover {
    box-shadow: 10px 10px $colorSombra;
    transition: 1s;
    transform: translate(10px, 10px);
    }
    .info_titulo {
    h2 {
        display: flex;
        justify-content: $center_todo;
        margin-top: -60px;
        font-size: 20px;
        font-family: 'Kanit', sans-serif;
        color: $colorBlanco;
        background-color: black;
        padding: 10px;
        font-weight: bold;
        text-align: $center_todo;
    }
    a {
        font-size: 20px;
        color: $colorBlanco;
    }
}
    .info_Boton {
    a {
        text-decoration: none;
    }
    &:hover,
    &:active {
        box-shadow: 10px 10px $colorSombra;
        transition: 1s;
    }
    &:active {
        transform: scale(1, 1);
    }
    width: 180px;
    height: 60px;
    background-color: rgb(136, 171, 142);
    border-radius: 20px;
    font-size: 20px;
    font-weight: 600;
    margin: auto;
    display: flex;
    align-items: $center_todo;
    justify-content: $center_todo;
}
    .cuadrados_info {
    display: flex;
    justify-content: space-around;
    text-align: $center_todo;
    gap: 10px;
    margin-top: 0px;
    flex-wrap: wrap;
}
    .estilo {
    width: 150px;
    height: 150px;
    overflow: auto;
    padding: 30px;
    text-align: $center_todo;
    background-color: rgb(175, 200, 173);
    border-radius: 25px;
    h3 {
        font-size: 20px;
    }
    }
}
#info_inicio {
    background-image: url(../images/sbanner.PNG);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 50vh; /* o height: 50%; */
    margin: 0;
}
#info_inicio img {
    max-width: 100%;
    height: auto;
}