
/*===========================================================================*/
/*MEDIA PRODUCTOS DESTACADOS-INICIO*/
/*===========================================================================*/
@media (max-width: 768px) {
    #DestacadosProds{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, 400px);
        grid-template-areas: 
        /*COL1                   COL2     */
        "prodestacadosGrid1 prodestacadosGrid2"  /*FILA 1*/
        "prodestacadosGrid1 prodestacadosGrid4"  /*FILA 2*/
        "prodestacadosGrid3 prodestacadosGrid5"  /*FILA 3*/
    }
}
@media(max-width: 590px){
    #DestacadosProds, #info_inicio, .destacados_titulo{
        width: 100vh;
    }
}

@media (max-width: 480px) {
    #DestacadosProds{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 400px);
        background-size: cover;
        background-position: center;
        grid-template-areas: 
        /*COL1                   COL2     */
        "prodestacadosGrid1"  /*FILA 1*/
        "prodestacadosGrid1"  /*FILA 2*/
        "prodestacadosGrid2" /*FILA 3*/
        "prodestacadosGrid3"
        "prodestacadosGrid4"
        "prodestacadosGrid5"
        
    }
}

/*===========================================================================*/
/*MEDIA MAIN*/
/*===========================================================================*/
@media (max-width: 1100px){
    .banner p{
        font-size: 40px;
    }
}
@media (max-width: 900px){
    .banner p{
        font-size: 35px;
    }
    #info_inicio .estilo{
        h3{
            font-size: 16px;
        }
    }
    }
    .cuadrados_info{
        font-size: 16px;
    }
@media (max-width: 800px){
    .banner p{
        font-size: 30px;
    }
}
@media (max-width: 650px){
    .banner p{
        font-size: 25px;
    }
    #info_inicio .info_titulo h2{
        margin-top: -90px;
    }
    #info_inicio .estilo{
    width: 120px;
    height: 120px;
    }
    h3{
        font-size: 14px;
    }
}
@media only screen and (max-width: 600px) {
    #info_inicio {
        height: 250px;
    }
}
