/*===========================================================================*/
/*MEDIA CONTACTO*/
/*===========================================================================*/
@media (max-width: 1200px){
    .parte1, .parte2, .nombre_form{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .text_dircontacto{
        margin-right: 40px;
    }
    .enviar-btn{
        margin-right: 230px;
    }
}
@media (max-width: 630px){
    .googlemaps iframe{
        width: 500px;
        height: 300px;
    }
}
@media (max-width: 590px){
    .titulo_contacto{
        width: 100vh;
    }
    .parte1, .parte2{
        width: 100vh;
        float: none;
    }
}